/CompilationLog.txt
/Unity.CollabProxy.Editor.dll.hash
/Unity.PlasticSCM.Editor.dll.hash
/Unity.Rider.Editor.dll.hash
/Unity.Services.Core.Editor.dll.hash
/Unity.TextMeshPro.Editor.dll.hash
/Unity.TextMeshPro.dll.hash
/Unity.Timeline.Editor.dll.hash
/Unity.Timeline.dll.hash
/Unity.VSCode.Editor.dll.hash
/Unity.VisualStudio.Editor.dll.hash
/UnityEditor.TestRunner.dll.hash
/UnityEditor.UI.dll.hash
/UnityEngine.TestRunner.dll.hash
/UnityEngine.UI.dll.hash
/UnityLockfile
/UnityTempFile-3f4182c97b9c47243bb88933c65e7816
/UnityTempFile-41d204f4bdf4aa04baab0c1bb493157b
/UnityTempFile-60ffde26c8bee7f468f42ba943ae1a5b
/UnityTempFile-700b4b73e413a3e4db4504dd4b5cf80d
/UnityTempFile-762e68c46a099b741bb1a032656e3c52
/UnityTempFile-7bf5b6b2d032358428b642c1212654fe
/UnityTempFile-8cd22c69481146541aac765c7c09a17a
/UnityTempFile-93ba7b1030930fb40aca00803c82abcb
/UnityTempFile-963970027b0ad2d468cdbdc8e49fa54f
/UnityTempFile-9c1de49462ed0e547845116684f047ca
/UnityTempFile-9d10a06999622e34a8e6092275de8e07
/UnityTempFile-af2196643ecc5964eae3c0848b788b92
/UnityTempFile-c37bbf9bb5592d042a062cdc7bbeda6b
/UnityTempFile-f6c0a6629efbfdb4e85661e62a4820f9
/workerlic
